*.la
*.lo
*.o
*.stamp
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
ccss-cairo-doc/Makefile.in
ccss-cairo-doc/ccss-cairo-decl-list.txt
ccss-cairo-doc/ccss-cairo-decl-list.txt.bak
ccss-cairo-doc/ccss-cairo-decl.txt
ccss-cairo-doc/ccss-cairo-decl.txt.bak
ccss-cairo-doc/ccss-cairo-overrides.txt
ccss-cairo-doc/ccss-cairo-undeclared.txt
ccss-cairo-doc/ccss-cairo-undocumented.txt
ccss-cairo-doc/ccss-cairo-unused.txt
ccss-cairo-doc/ccss-cairo.args
ccss-cairo-doc/ccss-cairo.hierarchy
ccss-cairo-doc/ccss-cairo.interfaces
ccss-cairo-doc/ccss-cairo.prerequisites
ccss-cairo-doc/ccss-cairo.signals
ccss-cairo-doc/html.stamp
ccss-cairo-doc/html/
ccss-cairo-doc/sgml.stamp
ccss-cairo-doc/tmpl.stamp
ccss-cairo-doc/version.xml
ccss-cairo-doc/xml/
ccss-cairo/Makefile.in
ccss-doc/Makefile.in
ccss-doc/ccss-decl-list.txt
ccss-doc/ccss-decl-list.txt.bak
ccss-doc/ccss-decl.txt
ccss-doc/ccss-decl.txt.bak
ccss-doc/ccss-overrides.txt
ccss-doc/ccss-undeclared.txt
ccss-doc/ccss-undocumented.txt
ccss-doc/ccss-unused.txt
ccss-doc/ccss.args
ccss-doc/ccss.interfaces
ccss-doc/ccss.prerequisites
ccss-doc/ccss.signals
ccss-doc/html.stamp
ccss-doc/html/
ccss-doc/sgml.stamp
ccss-doc/tmpl.stamp
ccss-doc/tmpl/ccss-unused.sgml.bak
ccss-doc/tmpl/grammar.sgml.bak
ccss-doc/tmpl/node.sgml.bak
ccss-doc/version.xml
ccss-doc/xml/
ccss-gtk/Makefile.in
ccss/Makefile.in
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
examples/Makefile.in
git-log.txt
gtk-doc.make
install-sh
libccss-*.pc
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
stamp-h1

.*.sw?
TAGS
