
actor {
	background-color: white;
}

actor#foo {
	border: 2px solid red;
	border-radius: 5px;
}

actor#bar {
	background-color: yellow;
}

actor#baz {
	background-color: green;
	background-image: url(foo.svg);
	background-size: 15 15;
}

actor#qux {
	background-color: black;
	border: 5px solid white;
	border-radius: 50%;
}

actor#mos {
	background-image: url(foo.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: kakhi;
	border: 2px solid blue;
	border-radius: 50%;
}

